<html ng-app="toDoList">

  <head>
    <title>ToDo List</title>
  	<style type="text/css">
    	.red {
        color: red;
    	}
      .gitkraken{
        color:blue;
        text-decoration: underline;
      }
    </style>
  </head>

  <body ng-controller="toDoListCtrl">
    <h3>{{app}}</h3>
    <div ng-hide="msg">{{mensagem}}</div>
    <hr />
    Tarefa: <input type="text" ng-model="item.descricao"><br>
    <button ng-click="adicionarItem(item)" ng-disabled="!item.descricao">Ok</button>
    <hr/>

    <table>
      <tr>
        <th> Situacao </th>
        <th> Qtd </th>
        <th> Opcao </th>
      </tr>
      <tr>
        <td>  <input type="radio" name="item" value="" ng-model="exibicao">todas </td>
        <td> {{itens.length}} </td>
      </tr>
      <tr ng-repeat="situacao in situacoes track by situacao.id" ng-repeat="item in itens | filter: {situacao: situacao.descricao} as filtered">
        <td>
            <input type="radio" name="item" value="{{situacao.descricao}}" ng-model="$parent.exibicao">{{situacao.descricao}}
        </td>
        <td> {{contaItens(situacao.descricao)}} </td>
        <td>
          <button ng-click="excluirSituacao(situacao)">Excluir</button>
        </td>
      </tr>
    </table>
  <hr/>

  <table>
    <tr>
      <th></th>
      <th> Descricao </th>
      <th> Situacao </th>
      <th> Opcao </th>
    </tr>
    <tr ng-repeat="item in itens | filter: {situacao: exibicao} track by item.id" ng-class="{red: item.situacao=='pendente'}">
      <td><input type="checkbox" ng-model="item.selecionado"/></td>
      <td>
        <div ng-if="!(item.id==edItem)">{{item.descricao}}</div>
        <input type="text" size="5" ng-model="item.descricao" ng-if="item.id==edItem">
      </td>
      <td>
        <div ng-if="!(item.id==edItem)">{{item.situacao}}</div>
        <select ng-model="item.situacao" ng-if="item.id==edItem">
          <option ng-repeat="situacao in situacoes" title="{{situacao.descricao}}" value="{{situacao.descricao}}" id="{{situacao.id}}">{{situacao.descricao}}</option>
        </select>
      </td>
      <td>
        <button ng-click="editarItem(item.id)" ng-if="!(item.id==edItem)">Editar</button>
       <button ng-click="editarItem('item')" ng-if="item.id==edItem">Salvar</button>
      </td>
    </tr>
  </table>

    <button class="btn" ng-click="excluirItem(itens)" ng-disabled="!isItemSelecionado(itens)">Excluir</button>
    <hr/>

    Cadastro de situacao: <br>
    <input type="text" ng-model="situacao.descricao"><br>
    <button ng-click="adicionarSituacao(situacao)" ng-disabled="!situacao.descricao">Ok</button>
    <br><hr />
    Config. <br>
    Tempo de fechamento de mensagens (milissegundos): <br>
    <input type="text" ng-model="tempo"><br>
    <button ng-click="configTemp()" ng-disabled="!tempo">Ok</button>


    <br><br>
    <div class="gitkraken" ng-click="redireciona()">{{gitkraken}}</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="module.js"></script>
    <script src="service.js"></script>
    <script src="controller.js"></script>
  </body>
</html>
